<!DOCTYPE html>
<!--
======================================================
______    _ _           ______    _     _             
|  ___|  | | |          |  ___|  (_)   | |            
| |_ __ _| | |_ ___ _ __| |_ _ __ _  __| | __ _ _   _ 
|  _/ _` | | __/ _ \ '__|  _| '__| |/ _` |/ _` | | | |
| || (_| | | ||  __/ |  | | | |  | | (_| | (_| | |_| |
\_| \__,_|_|\__\___|_|  \_| |_|  |_|\__,_|\__,_|\__, |
                                                 __/ |
                                                |___/ 
======================================================
Owner Name: Patrick A. Todd
Profile: https://www.github.com/falterfriday
Blog: https://falterfriday.wordpress.com/
Version: 0.2
Description: Never Stop Learning
======================================================
-->
<html>
<head>
	<title>Dojo Forms</title>
</head>
<body>
	<h3>Forms</h3>
	<p>You get a form! You get a form! Everybody gets a FORM!</p>
	<form>
		<input type="text" placeholder="First Name"><br>
		<input type="text" placeholder="Last Name"><br>
		<input type="text" placeholder="Address Line 1"><br>
		<input type="text" placeholder="Floor, Apt, Suite"><br>
		<input type="text" placeholder="Phone Number"><br>
		<input type="text" placeholder="Email"><br>
		<input type="submit" display="Submit" action="">
	</form>
</body>
</html>