<!DOCTYPE html>
<!--
======================================================
______    _ _           ______    _     _             
|  ___|  | | |          |  ___|  (_)   | |            
| |_ __ _| | |_ ___ _ __| |_ _ __ _  __| | __ _ _   _ 
|  _/ _` | | __/ _ \ '__|  _| '__| |/ _` |/ _` | | | |
| || (_| | | ||  __/ |  | | | |  | | (_| | (_| | |_| |
\_| \__,_|_|\__\___|_|  \_| |_|  |_|\__,_|\__,_|\__, |
                                                 __/ |
                                                |___/ 
======================================================
Owner Name: Patrick A. Todd
Profile: https://www.github.com/falterfriday
Blog: https://falterfriday.wordpress.com/
Version: 0.2
Description: Never Stop Learning
======================================================
-->
<html>
<head>
	<title>Ninjas!</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
	<h1>Ninjas!</h1>
	<h2>Ohhh. Emmm. Geee. </h2>
	<h3>I could go on, and on, and on about the stuff that <span>I don't know</span> about ninjas.</h3>
	<p>They're not a thing anymore, are they? I have no idea. Well, instead of ranting, why don't we go check them out.</p>
	<p>First, I'm going to check out:
		<ul>
			<li><a href="http://wikipedia.org/ninja">Wikipedia</a></li>
		</ul>
	<p>That link didn't work. Always do a google search first:</p>
		<ul>
			<li><a href="https://en.wikipedia.org/wiki/Ninja">Here we go!</a></li>
			<li>NOW READ!!</li>
			<li>Well... Click the link first. THEN READ!</li>
		</ul>
</body>
</html>